<h1>About</h1>
<p>Scrabblegram was made by <a href='https://github.com/deniseyu'>Denise</a>. It is for Scrabble aficionados and/or people who are bad at playing Scrabble.</p>

<h2>How does it work?</h2>
<p>Scrabblegram checks every permutation of letters submitted against the official Scrabble dictionary. For now, only words up to 9 characters long can be submitted.</p>

<h2>Building Scrabblegram</h2>
<p>Scrabblegram was written in Ruby on a Sinatra server. The search method was optimized with an ad hoc indexing algorithm that sections the dictionary into several hundred slices by the first two letters of a word.</p>