<!DOCTYPE HTML>
<HTML>
<head>
  <title>Scrabble Cheaters</title>
  <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
</head>
<body>
  <%= yield %>
  <section id='background'>
  </section>
</body>
</HTML>